*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color:#c9c9c9;
    justify-content: center;
    align-items: center;
}
.caixaexterior{
    display: flex;
    width: 30rem;
    height: 20rem;
}
.caixa-esquerda{
    display: flex;
    width: 15rem;
    height: 20rem;
}
.caixa-direita{
    display: flex;
    height: 20rem;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
#formulario{
    display: flex;
    align-items: center;
}
.caixa1{
    display: flex;
}
.caixa2{
    margin-top: 100px;
}
.caixa-de-texto{
    display: flex;
    margin-left: 10px;
}
.botao-anterior{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.botao{
    display: flex;
    align-items: center;
}
#btn-save{
    background-color: #008000;
    color: #fff;
    display: flex;
    border-radius: 5px;
    width: 120px;
    justify-content: center;
}
img{
    display: flex;
    width: 120px;
    margin-left: 200px;
    margin-top: -50px;
}
.imagem{
    display: flex;
}
.head-anterior{
    display: flex;
    margin: -3px;
}
.head{
    display: flex;
    background-color: #effb0c;
    width: 20rem;
    height: 4rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    justify-content: space-between;
    border: 0.2rem solid;
    justify-content: space-around;
}
.main-anterior{
    display: flex;
}
.main{
    display: flex;
    background-color: #fff;
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    box-shadow: 15px 20px 20px -5px rgba(0,0,0,0.25), 25px 0px 20px -15px rgba(0,0,0,0.25);
    border: 0.2rem solid;
}
.argola{
    display: flex;
    border-radius: 5rem;
    width: 25px;
    height: 75px;
    background-color: #fff;
    margin-top: -1.5rem;
    border: 0.2rem solid;
}
.argola2{
    display: flex;
    border-radius: 5rem;
    width: 25px;
    height: 75px;
    background-color: #fff;
    margin-top: -1.5rem;
    border: 0.2rem solid;
}
.argola3{
    display: flex;
    border-radius: 5rem;
    width: 25px;
    height: 75px;
    background-color: #fff;
    margin-top: -1.5rem;
    border: 0.2rem solid;
}
.argola4{
    display: flex;
    border-radius: 5rem;
    width: 25px;
    height: 75px;
    background-color: #fff;
    margin-top: -1.5rem;
    border: 0.2rem solid;
}